In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('/content/drive/MyDrive/AI Free classes/Datasets for FREE AI Classes in Every City/tips.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  744 non-null    float64
 1   tip         744 non-null    float64
 2   gender      744 non-null    object
 3   smoker      744 non-null    object
 4   day         744 non-null    object
 5   time        744 non-null    object
 6   size        744 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 40.8+ KB

In [7]:
df.isnull().sum()

total_bill    0
tip           0
gender        0
smoker        0
day           0
time          0
size          0
dtype: int64

In [8]:
pd.get_dummies(df)

,total_bill,tip,size,gender_Female,gender_Male,smoker_No,smoker_Yes,day_Fri,day_Mon,day_Sat,day_Sun,day_Thur,day_Tues,day_Wed,time_Dinner,time_Lunch
0,2125.50,360.79,1,0,1,1,0,0,0,0,0,1,0,0,0,1
1,2727.18,259.42,5,1,0,1,0,0,0,0,1,0,0,0,1,0
2,1066.02,274.68,4,1,0,0,1,0,0,0,0,1,0,0,1,0
3,3493.45,337.90,1,1,0,1,0,0,0,0,1,0,0,0,1,0
4,3470.56,567.89,6,0,1,0,1,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,3164.27,645.28,3,0,1,1,0,0,0,1,0,0,0,0,1,0
740,2962.62,218.00,2,1,0,0,1,0,0,1,0,0,0,0,1,0
741,2471.03,218.00,2,0,1,0,1,0,0,1,0,0,0,0,1,0
742,1942.38,190.75,2,0,1,1,0,0,0,1,0,0,0,0,1,0
743,2047.02,327.00,2,1,0,1,0,0,0,0,0,1,0,0,1,0

In [9]:
pd.get_dummies(df,drop_first=True)

,total_bill,tip,size,gender_Male,smoker_Yes,day_Mon,day_Sat,day_Sun,day_Thur,day_Tues,day_Wed,time_Lunch
0,2125.50,360.79,1,1,0,0,0,0,1,0,0,1
1,2727.18,259.42,5,0,0,0,0,1,0,0,0,0
2,1066.02,274.68,4,0,1,0,0,0,1,0,0,0
3,3493.45,337.90,1,0,0,0,0,1,0,0,0,0
4,3470.56,567.89,6,1,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
739,3164.27,645.28,3,1,0,0,1,0,0,0,0,0
740,2962.62,218.00,2,0,1,0,1,0,0,0,0,0
741,2471.03,218.00,2,1,1,0,1,0,0,0,0,0
742,1942.38,190.75,2,1,0,0,1,0,0,0,0,0
743,2047.02,327.00,2,0,0,0,0,0,1,0,0,0

In [10]:
df['day'].nunique()

7

In [11]:
df['day'].value_counts()

Sat     165
Sun     140
Thur    134
Fri      79
Tues     78
Mon      75
Wed      73
Name: day, dtype: int64

In [12]:
df['day'].value_counts().head(3)

Sat     165
Sun     140
Thur    134
Name: day, dtype: int64

In [13]:
top_3=df['day'].value_counts().head(3).index

In [14]:
top_3

Index(['Sat', 'Sun', 'Thur'], dtype='object')

In [17]:
df['day']=df['day'].apply(lambda c : c if c in top_3 else 'Other')

In [18]:
df['day'].value_counts()

Other    305
Sat      165
Sun      140
Thur     134
Name: day, dtype: int64

In [20]:
df.head(10)

   total_bill     tip  gender smoker    day    time  size
0     2125.50  360.79    Male     No   Thur   Lunch     1
1     2727.18  259.42  Female     No    Sun  Dinner     5
2     1066.02  274.68  Female    Yes   Thur  Dinner     4
3     3493.45  337.90  Female     No    Sun  Dinner     1
4     3470.56  567.89    Male    Yes    Sun   Lunch     6
5     2411.08  296.48  Female    Yes   Thur   Lunch     2
6     4607.43  374.96  Female     No   Thur  Dinner     4
7     1165.21  700.87  Female     No  Other  Dinner     2
8     2895.04  347.71    Male     No    Sat  Dinner     5
9     2622.54  253.97    Male    Yes   Thur   Lunch     6